{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Choose an area:</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'realestate' %}">Real Estate</a> <!--africa-->
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'auto' %}">Auto</a> <!--asia-->
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'antique' %}">Antique</a> <!--australia-->
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'bankaccount' %}">Bank Account</a> <!--europe-->
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'stocks/bonds' %}">Stocks/Bonds</a> <!--northamerica-->
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'donate' %}">Donate!</a> <!--southamerica-->
            </div>
        </header>
{% endblock %}
