{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Choose an area:</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'africa' %}">Real Estate</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'asia' %}">Auto</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'australia' %}">Antique</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'europe' %}">Bank Account</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'northamerica' %}">Stocks/Bonds</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'southamerica' %}">Donate!</a>
            </div>
        </header>
{% endblock %}
