{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome to Divwill!</div>
                <div class="masthead-heading text-uppercase">We divide so you don't have to</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'showtrips' %}">Quick Calculation</a>
            </div>
        </header>
{% endblock %}